@model FinalProject.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>會員詳細資料</h2>

<div>
    <h4>會員及訂單</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            姓名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           性別
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            連絡電話
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            會員加入日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            會員訂單
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>票種</th>
                    <th>張數</th>
                </tr>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount2)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
