@model FinalProject.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>訂單詳細資料</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Type)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("返回訂單資料", "Index")
</p>
